.venv/
__pycache__/
data/raw/photos
*.log
.env


# Detection results
data/preprocessed/detection_results/run*/
data/preprocessed/detection_results/*.txt
data/preprocessed/detection_results/*.jpg  
data/preprocessed/detection_results/*.csv